/* SignIn.css */
.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: purple;
  }
  
  .signin-box {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .signin-box h2 {
    text-align: center;
    color: #333;
  }
  
  .signin-box form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-box input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .signin-button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-button:hover {
    background-color: darkorange;
  }
  